@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
    font-family: "Montserrat";
}

.calculator-section {
    width: 370px;
    height: 580px;
    /* background: linear-gradient(120deg, rgba(124,128,213,1) 0%, rgba(0,0,69,1) 100%); */
    background: linear-gradient(120deg, rgba(16,32,45,90) 0%, rgba(23,24,26,90) 100%);

    border: 1px solid #004ebf;
    margin: 0 auto;
    margin-bottom: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-bg-1 {
    background: #303136;
}

.custom-bg-2 {
    background: #616161;
}

.custom-bg-3 {
    background: #1543c1;
}
.custom-bg-4 {
    background: #396eff;
}

.calculator-btn {
    cursor: pointer;
}

.plus-btn, .equal-btn {
    padding: 52% 0 !important;
}